@font-face {
  font-family: "Quicksand-variables";
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 3fr, repeat(2, 2fr), 0.5fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "main main" "footer footer";
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  grid-area: header;
}
header nav {
  background-color: black;
  grid-area: nav;
}

.imglogo {
  width: 300px;
  height: 150px;
  padding-left: 20px;
  object-fit: contain;
}

.navbar {
  --bs-navbar-color: white;
  --bs-navbar-hover-color: gray;
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255, 254, 254);
  font-style: italic;
  font-size: 1.5rem;
  text-shadow: 5px 10px 5px #d3d3d3;
}

.nav-link {
  font-family: "Quicksand-variables";
  font-size: 1.2rem;
  font-weight: 600;
}

.bg-body-tertiary {
  background-color: black !important;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
}

.mainhome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand-variables";
  grid-area: main;
  width: 100%;
  height: 100%;
}
.mainhome .sectionhome1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/mujer_gimnasio.jpg);
  backface-visibility: hidden;
  width: 100%;
  background-size: cover;
}
.mainhome .sectionhome1 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 400px;
  height: 300px;
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 100px;
}
.mainhome .sectionhome1 div h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  margin-bottom: 30px;
}
.mainhome .sectionhome1 div p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.mainhome .sectionhome1 div a {
  background-color: #a4161a;
  color: white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 5px;
  padding: 15px 25px;
}
.mainhome .sectionhome1 div a:hover {
  background-color: #161a1d;
}
.mainhome .sectionhome2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.mainhome .sectionhome2 .h2primerrenglon {
  color: #f5f3f4;
  margin-top: 30px;
  font-weight: bolder;
}
.mainhome .sectionhome2 .h2segundorenglon {
  color: #e5383b;
  margin-bottom: 50px;
  letter-spacing: 10px;
  font-weight: bolder;
}
.mainhome .sectionhome2 p {
  color: white;
  font-size: 1rem;
}
.mainhome .sectionhome3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  width: 100%;
  padding-bottom: 20px;
}
.mainhome .sectionhome3 .divsection3 {
  color: white;
  width: 300px;
  height: 100%;
}
.mainhome .sectionhome3 .divsection3 img {
  width: 300px;
  height: 300px;
}
.mainhome .sectionhome3 .divsection3 a {
  color: #e5383b;
}

.mainnosotros {
  background-color: black;
  grid-area: main;
}
.mainnosotros .section1nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #161a1d;
  margin: 10px;
  border-radius: 5%;
  color: white;
  font-family: "Quicksand-variables";
  font-size: 2rem;
}
.mainnosotros .section1nosotros article {
  width: 50%;
}
.mainnosotros .section1nosotros article h2 {
  color: #e5383b;
  margin-bottom: 20px;
  font-weight: bold;
}
.mainnosotros .section1nosotros article p {
  font-size: 1rem;
  text-align: justify;
}
.mainnosotros .section1nosotros article p a {
  color: #e5383b;
}
.mainnosotros .section1nosotros iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: -10px 20px 15px black;
}

.mainhome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand-variables";
  grid-area: main;
  width: 100%;
  height: 100%;
}
.mainhome .sectionhome1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/mujer_gimnasio.jpg);
  backface-visibility: hidden;
  width: 100%;
  background-size: cover;
}
.mainhome .sectionhome1 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 400px;
  height: 300px;
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 100px;
}
.mainhome .sectionhome1 div h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  margin-bottom: 30px;
}
.mainhome .sectionhome1 div p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.mainhome .sectionhome1 div a {
  background-color: #a4161a;
  color: white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 5px;
  padding: 15px 25px;
}
.mainhome .sectionhome1 div a:hover {
  background-color: #161a1d;
}
.mainhome .sectionhome2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.mainhome .sectionhome2 .h2primerrenglon {
  color: #f5f3f4;
  margin-top: 30px;
  font-weight: bolder;
}
.mainhome .sectionhome2 .h2segundorenglon {
  color: #e5383b;
  margin-bottom: 50px;
  letter-spacing: 10px;
  font-weight: bolder;
}
.mainhome .sectionhome2 p {
  color: white;
  font-size: 1rem;
}
.mainhome .sectionhome3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  width: 100%;
  padding-bottom: 20px;
}
.mainhome .sectionhome3 .divsection3 {
  color: white;
  width: 300px;
  height: 100%;
}
.mainhome .sectionhome3 .divsection3 img {
  width: 300px;
  height: 300px;
}
.mainhome .sectionhome3 .divsection3 a {
  color: #e5383b;
}

.mainservicios {
  width: 100%;
  background-color: black;
  grid-area: main;
  color: white;
  font-family: "Quicksand-variables";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.mainservicios section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}
.mainservicios section div {
  width: 60%;
}
.mainservicios section div h2 {
  color: #e5383b;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.mainservicios section div p {
  padding-left: 10px;
  text-align: justify;
  font-size: 1.2rem;
}
.mainservicios section a {
  background-color: #a4161a;
  color: white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 50px;
}
.mainservicios section a:hover {
  background-color: #161a1d;
}

.sectionservicios1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.788)), url(../images/entrenamiento_presencial.jpg);
  background-size: cover;
}

.sectionservicios2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.788)), url(../images/entrenamiento_online.jpg);
  background-size: cover;
}

.sectionservicios3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.788)), url(../images/tienda_de_rutinas_servicios.jpg);
  background-size: cover;
}

.mainrutinas {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.mainrutinas h2 {
  background-color: rgba(29, 33, 41, 0.7568627451);
  margin-top: 15px;
  padding: 10px;
  border-radius: 5%;
  text-shadow: 5px 5px 5px gray;
}

.bodyrutinas {
  display: grid;
  grid-template-rows: 1, 0.2fr, repeat(1, 4fr) 0.2fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "nav nav" "main main" "footer footer";
}

.imgrutinas {
  border-radius: 5%;
}

.carousel-inner {
  position: relative;
  left: 15%;
  width: 70%;
  overflow: hidden;
}

.maincontacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

form {
  font-family: "Lucida Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(29, 33, 41, 0.7568627451);
  border-radius: 5%;
  margin-bottom: 10px;
  padding: 10px 50px 10px 50px;
}

.form-control {
  width: 400px;
}

.framecontacto {
  width: 600px;
  height: 450px;
  border-radius: 5%;
  margin: 10px;
}

.btnsform {
  display: flex;
}

.botoncontacto {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  position: relative;
  bottom: 180px;
  width: 200px;
  left: 120px;
  border-bottom-style: solid;
  padding: 10px 10px;
  letter-spacing: 0.2cm;
  position: static;
  margin-bottom: 10px;
}
.botoncontacto:hover {
  border-color: white;
}

.modal-content {
  transform: translate(0px, 250px);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: rgba(29, 33, 41, 0.7568627451);
}

.btn-close {
  --bs-btn-close-bg: url(https://clipground.com/images/white-x-png-5.png);
}

footer {
  background-color: black;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  font-family: "Quicksand-variables";
  padding-top: 5px;
}
footer .imgfooter {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 928px) and (min-width: 712px) {
  .imagenesinicio {
    width: 350px;
    height: 250px;
  }
  .botoninicio {
    bottom: 160px;
    left: 75px;
    border-bottom-style: solid;
    padding: 10px 10px;
    letter-spacing: 0.2cm;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 712px) and (min-width: 510px) {
  main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "home1" "home2" "home3" "home4";
  }
  .imagenesinicio {
    width: 500px;
    height: 300px;
  }
  .botoninicio {
    bottom: 180px;
    width: 300px;
    left: 90px;
    border-bottom-style: solid;
    padding: 10px 10px;
    letter-spacing: 0.2cm;
  }
}
@media (max-width: 712px) and (min-width: 320px) {
  .mainnosotros {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media (max-width: 630px) and (min-width: 200px) {
  form {
    padding: 50px 50px;
  }
}
@media (max-width: 510px) and (min-width: 320px) {
  header {
    flex-wrap: nowrap;
  }
  .imglogo {
    width: 200px;
    height: 200px;
    padding-left: 10px;
  }
  main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "home1" "home2" "home3" "home4";
  }
  .imagenesinicio {
    width: 320px;
    height: 300px;
  }
  .botoninicio {
    bottom: 180px;
    width: 160px;
    left: 90px;
    border-bottom-style: solid;
    padding: 10px 10px;
    letter-spacing: 0.2cm;
  }
  .botonservicios {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    position: relative;
    bottom: 180px;
    width: 200px;
    left: 120px;
    border-bottom-style: solid;
    padding: 10px 10px;
    letter-spacing: 0.2cm;
    position: static;
  }
  .form-control {
    width: 100%;
  }
  .btnsform {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
