
footer {
    background-color: black;
    grid-area: footer;
    @include flexbox (column, nowrap, center, center,);

    p {
    color: white;
    font-family: "Quicksand-variables" ;
    padding-top: 5px;
    
    } 
    

    .imgfooter {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        
        } 
}
