@import "../modulos/mixin";


@media (max-width: 928px) and (min-width: 712px){
    
    
}
@media (max-width: 768px) and (min-width: 576px){
    header {
        @include flexbox (column, wrap, center, center,);
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
}

@media (max-width: 712px) and (min-width: 510px){
    // main {
    //     display: grid;
    //     grid-template-rows: repeat(4, 1fr);
    //     grid-template-columns: 1fr;
    //     grid-template-areas: 
    //     "home1"
    //     "home2"
    //     "home3"
    //     "home4";
    // }
    
    
    // .imagenesinicio {
    //     width: 500px;
    //     height: 300px;
        
    // }

    // .botoninicio {
    //     bottom: 180px;
    //     width: 300px;
    //     left: 90px;
    //     border-bottom-style: solid;
    //     padding: 10px 10px;
    //     letter-spacing: 0.2cm;
    // }
    
}

@media (max-width: 786px) and (min-width: 320px){
    .mainnosotros .section1nosotros {
        @include flexbox (column, wrap, center, center);
            article {
                width: 100%;
            h2 {
                margin-top:10px;
                text-align: center;
            }
            p {
                margin-left: 20px;
                margin-right: 20px;
            }

        }    
    }
}

// @media (max-width: 630px) and (min-width: 200px){
//     form {
//         padding: 50px 50px
//     }
    
// }


@media (max-width: 510px) and (min-width: 320px) {
    header {
        flex-wrap: nowrap;
    }
    
   .imglogo {
       width: 200px;
       height: 200px;
       padding-left: 10px;
       
   }

   .mainhome .sectionhome1 .div1inicio{
        width: 270px;
        height: 250px;
        margin-top: 150px;
        margin-left: 50px;
        margin-bottom: 100px;

        h2 {
            color:white; 
            font-weight: bold;
            font-size: 1.6rem; 
            word-spacing: 1px;  
            letter-spacing: 0.5px;
            margin-bottom: 30px; 
        }    
                
        p {
            font-size: 16px;
            color:white;
            margin-bottom: 30px;
            }
        }
        
        .mainservicios section div {
            width: 100%;

            p  {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        
        .maincontacto form {
            
            .form-control {
                width: 375px;
            }
            
            .btnsform {
                flex-direction: row;
                justify-content: center;
                align-items: center;        
            } 
        }
    
            
    }

@media (max-width: 400px) and (min-width: 320px) {
        .mainnosotros .section1nosotros iframe {
            width: 200px;
            height: 300px;        
        }
        
        .mainservicios section div {
            width: 100%;
        }

        .maincontacto form {
            
            .form-control {
                width: 300px;
            }
            
            .btnsform {
                flex-direction: row;
                justify-content: center;
                align-items: center;        
            } 
        }
    }

